html {
  font-family: Overpass, sans-serif;
}

.home {
  font-family: "Roboto Condensed", sans-serif;
}

.logo {
  width: 140px;
}

header {
  background-color: #285155;
}

nav {
  width: 100%;
  text-align: center;
}

header ul {
  display: none;
}

.nav-check {
  position: absolute;
  top: -10em;
  margin: 0;
  padding: 0;
}

.nav-check:checked ~ ul {
  display: flex;
  text-align: center;
  align-items: stretch;
  flex-direction: column;
  width: 100%;
}

.nav-label {
  position: absolute;
  top: 26px;
  right: 13px;
  cursor: pointer;
  display: inline-block;
  width: 23px;
}

[type="checkbox"] + label::before {
  position: absolute;
  top: -10em;
  right: 13px;
  cursor: pointer;
  display: inline-block;
  width: 23px;
}

.nav-label img {
  display: flex;
  width: 100%;
}

ul {
  width: 100%;
  align-items: flex-end;
}

a {
  text-decoration: none;
  color: #d5e3e1;
}

.btn {
  background-color: #d5e3e1;
  border: none;
  border-radius: 10px;
}

.btn:hover {
  background-color: #85b0b4;
}

a:focus,
a:hover {
  color: #fff;
}

li .current {
  color: #fff;
}

.btn .current,
.btn a {
  color: #285155;
}

.btn:hover a {
  color: #d5e3e1;
}

h1, h2 {
  font-family: "Roboto Condensed", sans-serif;
  color: #d5e3e1;
}

.sign-up p {
  color: #d5e3e1;
}

.banner {
  color: #d5e3e1;
}

.content {
  width: 100%;
}

.about p, h2 {
  color: #285155;
}

.chart, .prods {
  background-color: #285155;
  color: #d5e3e1;
}

.price {
  background: #285155;
  color: #d5e3e1;
}

.goods {
  background-color: #d5e3e1;
}

table {
  color: #d5e3e1;
  min-width: 50em;
}

th, td {
  border-bottom: solid 1px #d5e3e1;
}

.compare {
  color: #d5e3e1;
}

.sign-up {
  background-color: #285155;
  height: 1000px;
}

.sign-up-header {
  background-color: #285155;
}

label {
  color: #d5e3e1;
}

input {
  border: none;
  border-radius: 10px;
  height: 50px;
  background-color: #d5e3e1;
  color: #658f93;
}

.form-btn {
  background-color: #658f93;
}

footer {
  background-color: #285155;
}

footer a {
  color: #d5e3e1;
}

footer img {
  width: 20px;
}

footer a:hover {
  color: #85b0b4;
}

.socials a:hover img {
  opacity: .6;
  transform: scale(1.05);
}

@media only screen and (min-width: 38em) {

  .nav-check,
  .nav-label {
    display: none;
    width: 0;
  }

  nav ul {
    display: inline-block;
    flex-wrap: wrap;
    flex-direction: row;
  }

  footer img {
    width: 30px;
  }

}

@media only screen and (min-width: 60em) {

  .table-wrapper {
    overflow: visible;
  }

}
