html {
  font-family: Overpass, sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.home {
  font-family: "Roboto Condensed", sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

header {

  background-color: #658f93;
}

.icon-label {
  text-align: center;
  color: #d5e3e1;
  width: 100%;
  position: relative;
}

nav {
  width: 100%;
  text-align: center;
}

ul {
  width: 100%;
}

li {
  display: inline-block;
}

a {
  text-decoration: none;
  color: #d5e3e1;
}

.btn {
  background-color: #d5e3e1;
  border: none;
  border-radius: 10px;
}

.btn:hover {
  background-color: #85b0b4;
}

a:focus,
a:hover {
  color: #fff;
}

li .current {
  color: #fff;
}

.btn .current,
.btn a {
  color: #658f93;
}

.btn:hover a{
  color: #d5e3e1;
}

h1, h2 {
  font-family: "Roboto Condensed", sans-serif;
}

.banner {
  color: #d5e3e1;
}

.banner-message {
  width: 100%;
}

.about p, h2 {
  color: #658f93;
}

footer {
  background-color: #658f93;
}

footer p {
  color: #d5e3e1;
}

@media only screen and (min-width: 38em) {

  h1 {
    text-align: left;
  }

  nav {
    text-align: right;
  }

}
